.tower{
  float: left;
  width: 200px;
  margin: 20px;
  padding: 0 0 10px 0;
  border-bottom: 10px solid black;
  cursor: pointer;
}

li {
  list-style: none;
  width: 0;
  margin: 10px auto;
  height: 50px;
  background: gray;
  border-radius: 25px;
}

.selected {
  background: yellow;
}

.tower:hover {
  border-color: yellow;
}

.disk-1{
  width: 60px;
}

.disk-2{
  width: 90px;
}

.disk-3{
  width: 120px;
}
